
  <div class="card">
      <div class="card-header">
        Product Subscription 
      </div>
      <div class="card-body">
          <div class="row">
              Congrats for Subscription !! 
              Your Product Details Are 
          </div>
        
          <div class="row">
            <div class=".col-sm-4">
                Product Name : 
            </div>
            <div class=".col-sm-8">
                {{product.productName}}
            </div>
          </div>
          <div class="row">
              <div class=".col-sm-4">
                  Product Description :
              </div>
              <div class=".col-sm-8">
                  {{product.description}}
              </div>
          </div>
      </div>
      <div class="card-footer">
          <button class="btn btn-info" (click)='backToHome()'>
              Back To Home Page
          </button>
      </div>
  </div>

 
  

